{{!-- <div class="jumbotron">
  
  <p class="lead">Welcome to King Burger where we can do it your way ... but don't get crazy.</p>
  <hr class="my-4">
</div> --}}

<img class="img-fluid" alt="Responsive image" src="assets/img/kingburger.jpg">

  <div class="row">

      
    <div class="col-sm boxes rounded-sm m-2 p-1">
        <h2 class="text-center">Current Order(s)</h2>

        <ul>
        {{#each burgers}}
            {{#unless eaten}}
            {{> burgers/burger-block eaten=false}}
            {{/unless}}
        {{/each}}
        </ul>
    </div>


    <div class="col-sm boxes rounded-sm m-2 p-1">
      <h2 class="text-center">Past Order(s)</h2>

        <ul>
        {{#each burgers}}
            {{#if eaten}}
            {{> burgers/burger-block eaten=true}}
            {{/if}}
        {{/each}}
        </ul>
    </div>

  </div>


<div class="row text-center">
    <div class="col-sm m-2 p-2 rounded-sm boxes">
        <h2>Add burger</h2>
        <form class="create-form">

        <div class="form-group">
            <label>Burger Name</label>
            <input type="text" name="name" id="burgerName">
        </div>

        <button type="submit">Add it to the menu</button>
        </form>
    </div>
</div>


